
    <ion-header>
        <ion-toolbar>
            <ion-title>
            Task details
            </ion-title>
        </ion-toolbar>
        </ion-header>
        
        <ion-content>
        <h6>My super modal</h6>
        <ion-item>
            <ion-label position="floating">Task name</ion-label>
            <ion-input>{{task ? task.name : ''}}</ion-input>
        </ion-item>
    
        <p>Przychodzi: {{par1}}</p>
    
        <ion-segment (ionChange)="segmentChanged($event)">
            <ion-segment-button value="today">
                <ion-label>Today</ion-label>
            </ion-segment-button>
            <ion-segment-button value="tommorow">
                <ion-label>Tommorow</ion-label>
            </ion-segment-button>
            </ion-segment>
    
            <ion-segment (ionChange)="segmentChanged($event)">
            <ion-segment-button value="A">
                <ion-label>A</ion-label>
            </ion-segment-button>
            <ion-segment-button value="B">
                <ion-label>B</ion-label>
            </ion-segment-button>
            <ion-segment-button value="C">
                <ion-label>C</ion-label>
            </ion-segment-button>
            </ion-segment>
    
        <p>Wychodzi: {{par2}}</p>
        <ion-button color="success" (click)="closeModalTask()">Close</ion-button>
        <ion-button color="danger" (click)="closeModalTask()">Close</ion-button>
    </ion-content>






