
<ion-item-divider>
    <ion-label>
            {{scopeInfo}}
    </ion-label>
</ion-item-divider>

<!-- <ion-virtual-scroll [items]="tasks">
    <task-comp *ngFor="let tsk of tasks" [taskName]="tsk.name"></task-comp>
</ion-virtual-scroll> -->

<ion-list>
    <ion-reorder-group (ionItemReorder)="onRenderItems($event)" disabled="false">

        <task-comp *ngFor="let tsk of tasks" [taskName]="tsk.name">
            <ion-reorder></ion-reorder>
        </task-comp>

        <!-- <ion-reorder *ngFor="let tsk of tasks">
            <task-comp [taskName]="tsk.name"></task-comp>
        </ion-reorder> -->

        <!-- <ion-item *ngFor="let tsk of tasks">
            {{tsk.name}}
            <ion-icon name="fastforward" (click)="test('fastforward')"></ion-icon>
            <ion-icon name="eye" (click)="test('eye')"></ion-icon>

            <ion-reorder></ion-reorder>
        </ion-item> -->

    </ion-reorder-group>
</ion-list>

    