ion-item-divider ion-label{
    font-size: 1.5rem;
    text-align: center !important;
    color: blue;
}

ion-virtual-scroll {
    height: 75% !important;
    background-color:whitesmoke;
}

ion-list {
    margin-left: 10px;
    margin-right: 10px;
    height: 75% !important;
    background-color:whitesmoke;
}