<ion-list>
  <ion-button (click)="sort('asc')">Ascending</ion-button>
  <ion-button (click)="sort('desc')">Descending</ion-button>
    <ion-reorder-group (ionItemReorder)="onRenderItems($event)" disabled="false">
        
            <ion-item *ngFor="let achievement of achievements">
              <ion-label>{{achievement.name}}</ion-label>
              <ion-badge *ngIf="achievement.tag == 'Personal'" color="primary">PERS</ion-badge>
              <ion-badge *ngIf="achievement.tag == 'Professional'" color="danger">PRO</ion-badge>
              <ion-icon name="create" (click)="edit(achievement)"></ion-icon>
              <ion-icon name="trash" (click)="delete(achievement)"></ion-icon>
              <ion-reorder slot="end"></ion-reorder>
            </ion-item>

    </ion-reorder-group>
</ion-list>