<ion-header>
    <ion-toolbar>
      <ion-title slot="start">
        HomePage
      </ion-title>
      <button style="margin-right: 15px" ion-button icon-only slot="end" (click)="exitButtonClicked()">
        <ion-icon style="font-size: 30px" name="log-out"></ion-icon>
      </button>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <p>Viewer for Goal structure</p>
    <br/>
    <task-list [tasks]="todayTasks" [scopeModeInfo]="taskListScopeInfo"></task-list>

    <div class="button-position">
        <ion-button [ngClass]="taskListScopeInfo == 'Plan for today' ? 'button-tommorow' : 'button-today'" block (click)="changeTaskList()">
          <div *ngIf="taskListScopeInfo == 'Plan for today'">
              <ion-icon name="fastforward"></ion-icon>
              Plan for tommorow
          </div>
          <div *ngIf="taskListScopeInfo != 'Plan for today'">
              <ion-icon name="rewind"></ion-icon>
              Plan for today
          </div>

        </ion-button>
    </div>

    <ion-fab center middle>
      <ion-fab-button>
        <ion-icon name="add" (click)="modalRecall()"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
  
  