ion-fab[middle] {
    bottom: 10%;
}
ion-fab[center]{
    right: 5%;
}
ion-button ion-icon {
    margin-right: 5px;
}

.button-position {
    position: fixed;
    bottom: 10%;
    left: 5%;
}

.button-today {
    --background: green;
    --background-hover: green;
}

.button-tommorow {
    --background: red;
    --background-hover: red;
}