<ion-header>
    <ion-toolbar>
      <ion-title>
        HomePage
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

    <task-list [tasks]="todayTasks" [scopeModeInfo]="taskListScopeInfo"></task-list>

    <div class="button-position">
        <ion-button [ngClass]="taskListScopeInfo == 'Plan for today' ? 'button-tommorow' : 'button-today'" block (click)="changeTaskList()">
          <div *ngIf="taskListScopeInfo == 'Plan for today'">
              <ion-icon name="fastforward"></ion-icon>
              Plan for tommorow
          </div>
          <div *ngIf="taskListScopeInfo != 'Plan for today'">
              <ion-icon name="rewind"></ion-icon>
              Plan for today
          </div>

        </ion-button>
    </div>


    <ion-fab center middle>
      <ion-fab-button>
        <ion-icon name="add" (click)="modalRecall()"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
  
  