<ion-header>
    <ion-toolbar>
      <ion-title>
        HomePage
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

    <task-list [tasks]="todayTasks"></task-list>

    <div class="button-position">
        <ion-button block >
            <ion-icon name="fastforward"></ion-icon>
            Plan for tommorow
          </ion-button>
    </div>


    <ion-fab center middle>
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
  
  