<ion-header>
    <ion-toolbar>
      <ion-title>
        Affirmation Library page
      </ion-title>
    </ion-toolbar>
    <ion-button color="success" (click)="save()">Save</ion-button>
    <ion-button color="danger" (click)="cancel()">Cancel</ion-button>
  </ion-header>

  <ion-content>
    <ion-list>
        <ion-item *ngFor="let affirmation of affirmations">
            <ion-checkbox color="primary" slot="start" [(ngModel)]="affirmation.isChecked"></ion-checkbox>
            <ion-label>{{affirmation.name}}</ion-label>
        </ion-item>
    </ion-list>

  </ion-content>