<ion-header>
    <ion-toolbar>
      <ion-title>
        My affirmations
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

    <affirmation-list [(affirmations)]="dataList"></affirmation-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-fab class="fab-fixed-position">
      <ion-fab-button>
        <ion-icon name="add" (click)="addNew()"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-button class="play" size="large" color="danger" (click)="startPresentation()">
      <ion-icon name="play"></ion-icon>
   </ion-button>

  </ion-content>