<ion-header>
    <ion-toolbar>
        <ion-title>
        Affirmation details
        </ion-title>
    </ion-toolbar>
    
    </ion-header>
    
    <ion-content>
        <ion-button color="warning" (click)="addFromLibrary()">Add from library</ion-button>
        <form [formGroup]="affForm">
            <ion-item>
                <ion-label position="floating">Your affirmation</ion-label>
                <ion-input formControlName="affName" [(ngModel)]="affirmationName"></ion-input>
            </ion-item>
        </form>

    <ion-button color="success" (click)="save()" [disabled]="!affForm.valid">Save</ion-button>
    <ion-button color="danger" (click)="cancel()">Cancel</ion-button>
    
</ion-content>