<ion-item>
    <h3>Login Form</h3>
    <div>
        <a type="button" (click)="logout()">Logout</a>
    </div>

    <div >
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" placeholder="Email" [(ngModel)]="_email" name="eml">
    </div>
    <div >
        <label for="exampleInputPassword1">Password</label>
        <input type="password" placeholder="Password" [(ngModel)]="_password" name="pass">
    </div>

    <div >
        <button (click)="signInWithEmail()">
            Login with Email
        </button>
    </div>

    <div class="form-group">
        <button (click)="createNewUser()">
            Create user
        </button>
    </div>
    <div>Info: {{_info}}</div>
</ion-item>