<ion-list>
    <ion-button (click)="sort('asc')">Ascending</ion-button>
    <ion-button (click)="sort('desc')">Descending</ion-button>
      <ion-reorder-group (ionItemReorder)="onRenderItems($event)" disabled="false">
          
              <ion-item *ngFor="let affirmation of affirmations">
                <ion-toggle></ion-toggle>
                <ion-label>{{affirmation.name}}</ion-label>
                <ion-icon name="create" (click)="edit(affirmation)"></ion-icon>
                <ion-icon name="trash" (click)="delete(affirmation)"></ion-icon>
                <ion-reorder slot="end"></ion-reorder>
              </ion-item>
  
      </ion-reorder-group>
  </ion-list>