.footerButton {
    width: 160px;
    height: 40px;
    --background: var(--ion-color-dark);
    --background-hover: var(--ion-color-dark);
}
.homeActive {
        // border: solid 5px black;
        // border-radius: 15px;
        --background: var(--ion-color-medium-shade);
        --background-hover: var(--ion-color-medium-shade);
        // &:hover{
               
        // }
}

.notHomeActive {
        border: none;   
}
