.fab-fixed-position {
    position: fixed;
    right: 10%;
    bottom: 10%;
}

.chip-not-chosen {
    border: none;
    --background:lightgrey;
}

.chip-chosen {
    border: solid 2px;
    --background: red;
}

ion-chip ion-label{
    font-size: 1.2rem;
    color: black;
}

.achievement-category-active {
    width: 200px;
    --background: blue;
    --background-hover: blue;
}

.achievement-category-inactive {
    width: 200px;
    --background-color: red;;
}
ion-content {
    // overwrite inline styles
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }


