.main {
    position: fixed;
    right: 10%;
    bottom: 10%;
}

.chip-not-chosen {
    border: none;
    --background:lightgrey;
}

.chip-chosen {
    border: solid 2px;
    --background: red;
}

ion-chip ion-label{
    font-size: 1.2rem;
    color: black;
}

.achievement-category-active {
    width: 200px;
    --background: blue;
    --background-hover: blue;
}

.achievement-category-inactive {
    width: 200px;
    --background-color: red;;
}


