<ion-header>
    <ion-toolbar>
      <ion-title>
        Achievements
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content style="bottom: 8%; top: 0%">

    <!-- <ion-list>
      <ion-item *ngFor="let item of dataList">
        <ion-label>{{item.name}}</ion-label>
      </ion-item>
    </ion-list> -->
    <achievement-list [(achievements)]="dataList"></achievement-list>


    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-fab class="main" horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button color="dark">
        <ion-icon name="arrow-dropup"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-button 
        [ngClass]="{'achievement-category-active' : allAchievementsSelected, 'achievement-category-inactive' : !allAchievementsSelected}"
        (click)="visibilityChange('all')"
          >
          All visible
        </ion-button>
        <ion-button 
        [ngClass]="{'achievement-category-active' : personalAchievementsSelected, 'achievement-category-inactive' : !personalAchievementsSelected}"
        (click)="visibilityChange('personal')"
          >
          Only personal
        </ion-button>
        <ion-button 
        [ngClass]="{'achievement-category-active' : professionalAchievementsSelected, 'achievement-category-inactive' : !professionalAchievementsSelected}"
        (click)="visibilityChange('professional')"
          >
          Only professional
        </ion-button>
        <ion-fab-button size="undefined" color="primary" class="achievement-add" (click)="addNewAchievement()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

  </ion-content>
